@charset "utf-8";
/* ----------------------------------------------404 & signup succses------------------------------------- */
.ER_SSWW { font-size: 36px; padding: 10px; }
.ER_404 { font-size: 200px; }

@media screen and (min-width : 250px) and (max-width : 650px) {
.ER_SSWW { font-size: 26px; }
.ER_404 { font-size: 100px; float: none; text-align: center; }
}
/* ----------------------------------------------- Social Media Bar ------------------------------------ */
.Social-container { margin: auto; height: 30px; }
.Social-container ul div { display: inline; }
.Social-container li { display: inline; width: auto; float: left; padding: 0 10px; }
/* ----------------------------------------------- Signup forms ------------------------------------ */
.MyAlret { color: red; padding-top: 5px; }
.MyLable { }
.MyInput { width: 320px; }
.MyContainer { padding: 10px; }
/* ----------------------------------------------- adv search bar ------------------------------------ */
#advSearchBarDiv .AdvSearchBox { width: 100%; border: 1px solid #686868; border-top: none; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; box-shadow: 3px 3px 10px #999999; }
#advSearchBarDiv .AdvSearchLine { padding: 10px; clear: both; width: 100%; }
#advSearchBarDiv .MySearchButton {font-family: FontAwesome; content: "\f015"; font-size: 23px;background-color: #FF8238; width: 45px; height: 100%; background-repeat: no-repeat; cursor: pointer; background-position: center; color: #FFFFFF; border: none; position: absolute; border-bottom-right-radius: 3px; border-top-right-radius: 3px; top: 0px; right: 0px; }
#advSearchBarDiv .MyadvSearchButton { background-color: inherit; width: 35px; height: 100%; background-repeat: no-repeat; cursor: pointer; background-position: center; border: none; position: absolute; font-size: 14px; color: black; top: 0px; right: 45px; }
#advSearchBarDiv.MyLable { padding: 4px; }
#advSearchBarDiv .MyImput { width: 85%; padding: 4px; margin: 1px; float: left; border-radius: 3px; }
#advSearchBarDiv .MySearchBar { width: 90%; height: 100%; position: absolute; margin: 0; padding: 0 10px; border: none; background-color: transparent; }
